<p class="text-xs-center">Registrieren Sie sich für den Zugang</p>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control underlined" id="email" placeholder="Geben Sie Ihre E-Mail-Adresse ein">
  </div>
  <div class="form-group has-error">
    <label for="password">Passwort</label>
    <input type="password" class="form-control underlined" id="password" placeholder="Geben Sie Ihr Passwort ein">
    <span class="form-help-text">Error message.</span>
  </div>
  <div class="form-group has-success">
    <label for="name">Name</label>
    <input type="text" class="form-control underlined" id="name" placeholder="Geben Sie Ihren Namen ein">
    <span class="form-help-text">Success message.</span>
  </div>
  <div class="form-group">
    <label for="agree">
      <input class="checkbox" id="agree" type="checkbox">
      <span>Zustimmen</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary"></button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Haben Sie bereits ein Konto?
      <a href="#">
        Anmelden!
      </a>
    </p>
  </div>
</form>