<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Ereignisliste</h3>
          </div>
          <div class="form-inline pull-right m-r-2">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Suche...">
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle ">
                Параметр
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Handlung</a>
                <a class="dropdown-item" href="#">Andere Handlung</a>
                <a class="dropdown-item" href="#">Etwas anderes hier</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Linktext</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Summe</th>
                <th>Datum</th>
                <th>Kategorie</th>
                <th>Typ</th>
                <th class="text-lg-center">Handlung</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>44 444</td>
                <td>12.12.2017</td>
                <td>Waren</td>
                <td>
                  <span class="label label-danger">Aufwendung</span>
                </td>
                <td class="text-lg-center">
                  <a href="#" class="btn btn-primary-outline">Öffnen</a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>33 333</td>
                <td>12.12.2017</td>
                <td>Erholung</td>
                <td>
                  <span class="label label-success">Einkommen</span>
                </td>
                <td class="text-lg-center">
                  <a href="#" class="btn btn-primary-outline">Öffnen</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>