<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
    <div class="card">
        <div class="card-block">
            <div class="title-block">
                <h4 class="title">Wechselkurs</h4>
            </div>
            <div class="row row-sm stats-container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Währung</th>
                        <th>Wechselkurs</th>
                        <th>Datum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Dollar</td>
                        <td>24</td>
                        <td>12.12.2017</td>
                    </tr>
                    <tr>
                        <td>Euro</td>
                        <td>26</td>
                        <td>12.12.2017</td>
                    </tr>
                    <tr>
                        <td>Rubel</td>
                        <td>0.4</td>
                        <td>12.12.2017</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>