<p class="text-xs-center">Melden Sie sich an</p>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control underlined" id="email" placeholder="Geben Sie Ihre E-Mail-Adresse ein">
  </div>
  <div class="form-group">
    <label for="password">Passwort</label>
    <input type="password" class="form-control underlined" id="password" placeholder="Passwort">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Anmelden</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Kein Konto? <a href="#">Konto erstellen.</a>
    </p>
  </div>
</form>